@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../images/wood.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 2cm;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../images/iphone.png') no-repeat center;
    background-size: cover;
    padding-bottom: 1.55cm;
}

iframe#tela {
    position: relative;
    top: 90px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#rede-social {
    text-align: right;
    text-decoration: none;
    padding: 1.5cm;
}

section#rede-social img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    margin-right: 3px;
    margin-bottom: 6px;
}

a:hover {
    border: double;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.801);
}